astroid==2.11.4
attrs==21.4.0
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
dill==0.3.4
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pylint==2.13.8
pyparsing==3.0.8
pytest==7.1.1
requests==2.27.1
toml==0.10.2
tomli==2.0.1
urllib3==1.26.8
wrapt==1.14.1
