astroid==2.15.8
attrs==21.4.0
autopep8==2.0.4
certifi==2024.2.2
charset-normalizer==2.0.12
dill==0.3.8
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.11.1
pylint==2.17.7
pyparsing==3.0.8
pytest==7.1.1
requests==2.31.0
toml==0.10.2
tomli==2.0.1
urllib3==2.6.0
wrapt==1.14.1
