---

name: Check linting and tests
on:
  pull_request:
    types:
      - opened
      - closed
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  pylint-pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Install required modules
        run: python -m pip install -r requirements.txt

      - name: autopep8 and pylint checks
        run: ./lint.sh

      - name: Test with fresh genesis
        run: python -m pytest -v -s

